# Ignorar el historial de Git
.git

# Ignorar el caché de Yarn
.yarn/cache
.yarn/install-state.gz

# Ignorar las dependencias locales (¡muy importante!)
node_modules

# Ignorar archivos de configuración locales que no deben ir en la imagen
*.local.yaml
